
body {
  background-image: url(https://img.freepik.com/free-vector/musical-notes-pattern-black-background_1017-32303.jpg?w=2000&t=st=1672990522~exp=1672991122~hmac=60f0f5ff612d3ef0f03a4bc7aa0c16659503da6f64c378e3178d3fae57b7ca27);
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title{
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: space-evenly;
  font-size: 120px;
  color: orange;
  font-family: fantasy;
  height: 10vh;
}

.description{
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: space-evenly;
  font-size: 30px;  
  color: aqua;
  font-family: fantasy;
}

.profile_button{
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: space-evenly;
  padding: .5rem .7rem;
}

.login_title{
  color: chartreuse;
  font-family: fantasy;
}

.login_form{
display: flex;
flex-direction: row;
color: chartreuse;
}

.login_button{
  display: flex;
  flex-direction: row;
}

.signup_title{
color: gold;
font-family: fantasy;
}

.signup_form{
  display: flex;
  flex-direction: row;
  color: gold;
}

.signup_button{
  display: flex;
  flex-direction: row;  
}

.discussions_page {
  color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  font-family: fantasy;
}

.discussions_list {
  color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-family: fantasy;
  
}

.comment_section{
display: flex;
flex-direction: column;
align-items: center;
}

.comment{
  border: 1px solid lightgreen;
  height: 75px;
  width: 750px;
  color: lightgreen;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete{
  border: 2px solid red;
  color: red;
  background-color: black;
}

.discussion_pages{
display: flex;
flex-direction: column;
align-items: center;
  
}

.discussion_title{
  color: aqua;
  font-size: 50px;
  font-family: fantasy;
}

.user_profile{
  color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: fantasy;
  font-size: 50px;
  padding: 5rem;

}

.links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: .5rem .7rem;
}

.new_comment{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;  
  padding: 3rem;
}