
body {
  background-color: black;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title{
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: space-evenly;
  font-size: 100px;
  color: orange;
  font-family: fantasy;
  height: 10vh;
}

.description{
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: space-evenly;
  font-size: 25px;  
  color: aqua;
  font-family: fantasy;
}

.profile_button{
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: space-evenly;
  padding: .5rem .7rem;
}

.login_title{
  color: chartreuse;
}

.login_form{
display: flex;
flex-direction: row;
color: chartreuse;
}

.login_button{
  display: flex;
  flex-direction: row;
}

.signup_title{
color: gold;
}

.signup_form{
  display: flex;
  flex-direction: row;
  color: gold;
}

.signup_button{
  display: flex;
  flex-direction: row;  
}

.discussions_page {
  color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment_section{
display: flex;
flex-direction: column;
align-items: center;
}

.comment{
  border: 1px solid lightgreen;
  height: 75px;
  width: 750px;
  color: lightgreen;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete{
  border: 2px solid red;
  color: red;
  background-color: black;
}

.discussion_pages{
display: flex;
flex-direction: column;
align-items: center;
  
}

.discussion_title{
  color: aqua;
}

.user_profile{
  color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px solid white;
  padding: .5rem .7rem;
}